GDAL==3.1.2
rasterio==1.1.7
Shapely==1.7.1
geopandas==0.8.1
geoviews==1.8.1
holoviews==1.13.4
hvplot==0.6.0
xarray==0.16.1
matplotlib==3.3.2
cartopy==0.18.0
scikit-image==0.17.2
pyepsg==0.4.0
nbgitpuller==0.9.0